header {
  background: black;
  color: white;
  padding: 20px;
  margin: 20px 100px 20px 100px;
}

main {
  text-align: left;
  border: 2px solid black;
  padding: 20px; 
  margin: 0px 0px 100px 100px;
  float: left;
}

  /* base styles */
  div.bio {
    width: 800px; 
  }

  ul.abtme {
    font-size:20;
    font-weight: 500;
    font-variant: small-caps;
  }

  li.job {
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
  }

  p.jobExp {
    font-size: 15px;
    font-weight: normal;
    font-variant: normal;
  }
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  
aside {
  text-align: left;
  border: 2px solid black;
  padding: 20px; 
  margin: 0px 100px 100px 0px;
  float:right;
}

  div.game {
    width: 800px;
  }

  li.questions {
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
  }

  li.answers {
    font-size: 15px;
    font-weight: normal;
    font-variant: normal;
    text-indent: 50px;
  }

  h3 {
    font-size: 25px;
  }